$lineHeight:1.2;
$colorBlack:rgb(0, 0, 0);
//nav-icon variables
$button-size:20px;
$transition:.3s;
$color: #0023FF;
$button-width:100%;
$nav-line-height:$button-size/7;
$button-width:100%;
$button-height:100%;
